<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="Spotify" version="5.0">
	<name>Spotify</name>
	<icon src="icon.png"/>
	<content src="index.html" type="text/html"/>
	<description>HTML5 AGL Spotify widget</description>
	<author>Forlot Romain &lt;romain.forlot@iot.bzh&gt;</author>
	<license>APL2.0</license>

	<feature name="urn:AGL:widget:required-api">
		<param name="spotify" value="ws" />
		<param name="homescreen" value="ws" />
		<param name="windowmanager" value="ws" />
	</feature>
</widget>

